



$biggest-fz: 7.5rem;
$bigger-fz: 4.5rem;
$big-fz: 3.5rem;
$h2-fz: 1.5rem;
$h3-fz: 1.25rem;
$normal-fz: 1rem;
$small-fz: .875rem;
$smaller-fz: .813rem;
$header-height: 100px;
@media screen and (max-width: 968px){
    $biggest-fz: 7rem;
    $bigger-fz: 4.5rem;
    $big-fz: 12.5rem;
    $h2-fz: 1.25rem;
    $h3-fz: 1.125rem;
    $normal-fz: .950rem;
    $small-fz: .800rem;
    $smaller-fz: .75rem;
    $header-height: 80px;
}


$black-color: #0a0a0b;
$black-color-light: #141515;
$title-color: #f2f2f3;
$text-color: #bdc0c2;
$text-color-light: #a2a6a9;
$white-color: #FFF;
$body-color: #0f0f10;
$container-color: #181a1b;
$nav-gradient: linear-gradient(to top, #3b3e40, #bdc0c2);
$text-gradient: linear-gradient(to top, #3b3e40, #141515);
$scroll-thumb-color: #27292a;
$scroll-thumb-color-light: #313335;
